{% extends "base.html" %}

{% block title %}Subir Archivos CSV{% endblock %}

{% block content %}
<h2>Subir archivo DBF de Presupuesto</h2>
<p>Formato DBF esperado con columnas: CODIGO, SECRETARIA, DIRECCION, TIPO, NOMBRE, CREDITO_ACTUAL, REESTRUCTURAS, COMPROMISO, DISPONIBLE, ANO</p>
<form method="POST" enctype="multipart/form-data" action="{% url 'url_name_for_upload_presupuesto_bdf' %}">

    {% csrf_token %}
    <input type="file" name="bdf_file_presupuesto" accept=".dbf" required />
    <button type="submit">Subir Presupuesto DBF</button>
</form>

   
{% endblock %}